.content-box {
  background: linear-gradient(to bottom, #6d8c9f, #4f727d, #415865);
  height: 600px;
  border: 2px solid #343a43;
  margin: 0 auto;
  width: 800px;
}
.card {
  background: linear-gradient(to bottom, #334c5c, #2e758f);
  border: 1px solid #1b303b;
  padding: 8px 8px 16px;
  border-radius: 6px;
  box-shadow: 0 0 2px 0px #fff;
}
.empty {
  animation: bling;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.button {
  background: linear-gradient(to bottom, #6a9aa7, #22313a),
    linear-gradient(to right, #2c3640 30%, #61a6b1, #2c3640 70%);
  text-align: center;
  opacity: 0.6;
  border: 1px solid #fff;
  transition: 0.3s;
  &:hover {
    opacity: 0.8;
  }
}

@keyframes bling {
  0% {
    box-shadow: 0 0 5px 0 #6d8c9f;
  }
  50% {
    box-shadow: 0 0 5px 0 #fff;
  }
  100% {
    box-shadow: 0 0 5px 0 #6d8c9f;
  }
}
